body {
    margin-left: 20%;
    margin-right: 20%;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

nav {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#about-me  {
    display: flex;
    justify-content: space-between;
}

.me {
    width: 60%;
    height: auto;
}

#about-me figure {
    height: auto;
    width: 40%;
    margin-right: 0;
}

#about-me figure img {
    width: 100%;
}

#about-me figure figcaption {
    text-align: center;
    font-size: 0.8rem;
}

#projects li {
    list-style-type: disclosure-closed;
    padding: 0.5rem;
    color: #302820;
    font-weight: bold;
}

.image {
    display: none;
}
